<div class="container">

 <div class="page_header_banner">
  <img src="/images/34bf0dcff16074de83639c4acb17bf4e%201Mobiuz.png" alt="">
 </div>


 <div class="page_header_reclamainfo">
  <div class="reclamainfo_ul2">
   <div class="courses">
    <div>
     <i class=""><strong> Чоршанба</strong></i>
    <i class=""><strong> Тошкент, Ўзбекистон</strong></i>
    </div>
    <div>
     <i class="fa fa-caret-up"><strong> USD 10274.17</strong></i>
     <i class="fa fa-caret-down"><strong> EUR 12162.56</strong></i>
     <i class="fa fa-caret-down"><strong> RUB 136.28</strong></i>
     <i class="fa fa-caret-up"><strong> CNY 6.7695</strong></i>
     <i class="fa fa-caret-down"><strong> TRY 7 .5598</strong></i>
    </div>
    <div>
     <strong>24 fevral 2021</strong>
    </div>
   </div>
  </div>
 </div>

 
 <div class="page_header_end"></div>

 <div class="page_middle_wrapper">
  <div class="page_middle_img">
   <img src="/images/Mask%20Group.png" alt="">
  </div>
 
  <div class="page_middle_text">
   <h2>Сайт ҳақида</h2> <br/>
   <p>«Karvon» - Ўзбекистондаги энг фаол онлайн нашрлардан бири. Сайт ўз олдига <br> Ўзбекистон ва жаҳонда рўй
    бераётган
    энг муҳим воқеа-ҳодисалар ҳақида тезкор, <br> аниқ ва холис ахборот беришни мақсад қилиб қўйган. <br>
    <br>
    Google Analytics маълумотларига кўра, сайтга ҳар куни 150 минг киши ташриф <br> буюради. <br>
    <br>
    Сайтдан фойдаланиш мутлақо бепул бўлиб, фақатгина интернет траффик <br> сарфланади. Сайтнинг енгил ва
    тез
    ишлайдиган мобил версияси -<a href="index.html"> Bu yerga bosing</a>
   </p>
  </div>
 </div>


 <div class="page_middle_wrapper_2">
  <div class="page_middle2_img2">
   <img src="images/Mask%20Groupoficce.png" alt="">
  </div>
  
  <div class="page_middle3_text_3">
   <h2>Материаллардан фойдаланиш шартлари</h2><br>
   <p>«Karvon» Интернет-нашри <br>
    2008 йил 11 августдан бери ишлайди. <br>
    Таъсисчиси ва нашриёти: «umdsoft» МЧЖ <br>
    Бош муҳаррири: Алиев Карим Нарзуллаеич <br>
    Бошлиқ: сергеев иван панферов <br>
    <br>
    Манзил: 100007, Тошкент ш. Паркент, 26А <br>
    Электрон почта: инфо@karvon.uz <br>
    Ўзбекистон Республикаси Матбуот ва ахборот агентлигида (ЎзАПИ) рўйхатдан ўтган. Онлайн оммавий ахборот
    воситаларини рўйхатдан ўтказиш тўғрисидаги гувоҳнома, 2019 йил 13 августдаги 0460-сон.
    <br>
    <br>
    «karvon.uz» савдо белгиси <br>
    Логотип ва сайт номи («karvon.uz») Ўзбекистон Республикаси ҳудудида рўйхатдан ўтган савдо белгисидир.
    2008 йил 27 августда рўйхатдан ўтган МГУ 18444 гувоҳномаси.

   </p>
  </div>
 </div>


 <!--------------------bizning sheriklarimiz----------------->

 <div class="page_my_patnyor_text">
  <h2>Бизнинг шерикларимиз</h2><br>
  <p>
   <a href="index.html">
    Афиша.уз
   </a> - Тошкентнинг афишаси. Янгиликлар, жадвал, шарҳлар, маълумот маълумотлари. <br>
   <br>
   <a href="index.html">
    Спот.уз
   </a> - Бизнес, тадбиркорлик ва технологиялар. <br>
   <br>
   <a href="index.html">
    Зира.уз
   </a> - рецептлар, ошпазлик бўйича маслаҳатлар ва янгиликлар. <br>
   <br>
   <a href="index.html">
    Погода.уз
   </a> - Ўзбекистон шаҳарларидаги об-ҳаво маълумоти.
  </p>
 </div>


</div>