<!doctype html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <!--  --- Asosiy page qism --- -->
    <link rel="stylesheet" href="./css/first-page/main.css">
    <link rel="stylesheet" href="./css/first-page/responsive.css">
    <!--  --- Login page qism --- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/web-login/styles.css">
    <link rel="stylesheet" href="./css/web-login/responsive.css">
     <!--  --- Introduction page qism --- -->
    <link rel="stylesheet" href="./css/third-page/styles.css">
    <link rel="stylesheet" href="./css/third-page/responsive.css">

    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link href="/icon/font-awesome.css" rel="stylesheet" type="text/css">

    
</head>
<body>
    <!-- HEADER -->
    <header>

        <nav id="nav" class="navbar navber-expand-lg">
            <div class="container">
                <a href="#" class="navbar-brand">Karvon</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <ul class="navbar-nav flex-row ">
                    <li class="nav-item"><a href="#" class="nav-link">Махаллий</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Жахон</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Бизнес</a></li>

                    <li class="nav-item"><a href="#" class="nav-link">Export-Харидор</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Рейтинг</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Миллионер</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Lifestyle</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Ракобат</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Фотомухбир</a></li>
                </ul>

                <a class="icon-links" href="#"><img src="./icons/light-dark.svg" alt=""></a>

                <div class="form-group icon-links">
                    <select class="form-control">
                        <option>Uz</option>
                        <option>Рус</option>
                    </select>
                </div>
                <a class="icon-links" href="#"><img src="./icons/Vector (1).svg" alt=""></a>
                <a class="icon-links" href="#"><img src="./icons/Vector.svg" alt=""></a>
            </div>
            </div>

        </nav>
        <section id="advertisement">

            <div class="container">

                <div class="row ">
                    <img width="100%" src="./images/sayrt banner 1.png" alt="">
                </div>

                <div class="row mt-2">
                    <div class="info justify-content-between align-items-center w-100">

                        <div class="weather d-flex justify-content-between align-items-center">
                            <p>Чоршанба</p>
                            <img src="./images/Cloud & Sun.svg" alt="">
                            <div class="temperature">
                                <p>27°C</p>
                                <p>29° 13°</p>
                            </div>

                            <p>Тошкент, Ўзбекистон</p>
                        </div>

                        <div class="dollar d-flex justify-content-between align-items-center">

                            <p> <span><img src="./icons/courseUp.svg" alt=""></span> USD 10274.17</p>
                            <p> <span><img src="./icons/courseDown.svg" alt=""></span> RUB 136.28</p>
                            <p> <span><img src="./icons/courseUp.svg" alt=""></span> USD 10274.17</p>
                            <p> <span><img src="./icons/courseDown.svg" alt=""></span> EUR 12162.56</p>

                        </div>

                        <div class="calendar d-flex justify-content-between align-items-center">
                            <p>Чоршанба</p>
                            <p class="date-day">12</p>
                            <p>Сентябрь, 2020 йил</p>
                        </div>

                    </div>
                </div>
                <hr />

        </section>
    </header>
    <%- body %>
    <!-- FOOTER SECTION -->
    <section id="footer" class="footer">
            <div class="container">
                <div class="row">

                    <div class="col-2 ">
                        <p>Махаллий </p>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a href="#" class="nav-link">Бухоро</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Хоразм</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Тошкент</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Навоий</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Нукус</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Самарканд</a></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <p>Жахон </p>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a href="#" class="nav-link">Африка</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Шимолий Америка</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Жанубий Америка</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Австралия</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Европа</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Осиё</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Ғарбий Осиё</a></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <p>Бизнес </p>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a href="#" class="nav-link">Саноат</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Ишлаб чиқариш</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Хизмат кўрсатиш</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Кўчмас мулк</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Савдо сотиқ</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Эхпорт</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Импорт</a></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <p>Export-Харидор </p>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a href="#" class="nav-link">Африка</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Шимолий Америка</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Жанубий Америка</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Австралия</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Европа</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Осиё</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Ғарбий Осиё</a></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <p>Миллионер </p>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a href="#" class="nav-link">Африка</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Шимолий Америка</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Жанубий Америка</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Австралия</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Европа</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Осиё</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Ғарбий Осиё</a></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <p>Статистика </p>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a href="#" class="nav-link">Иқтисодият</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Саноат</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Сиёсат</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Қонунчилик</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">СОВИД 19</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Экология</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Жамият</a></li>
                        </ul>
                    </div>
                </div>
                <div class="line"></div>

            </div>
    </section>
    <!-- ABOUT US -->
    <section id="about" class="about ">
            <div class="container">
                <div class="row">
                    <div class="col-3 offset-2 mt-3">
                        <a href="#" class="nav-link nav-link-about">Биз хақимизда</a>
                    </div>
                    <div class=" col-3 offset-4 mt-3">
                        <div class="media">
                            <a href="#"><img src="./icons/telegram.svg" alt=""></a>
                            <a href="#"><img src="./icons/Instagram.svg" alt=""></a>
                            <a href="#"><img src="./icons/Facebook.svg" alt=""></a>
                            <a href="#"><img src="./icons/Twitter.svg" alt=""></a>
                            <a href="#"><img src="./icons/You" alt=""></a>
                        </div>

                    </div>
                </div>
                <div class="row mt-3 mb-5">
                    <div class="col-2">
                        <a href="#" class="nav-brand">Karvon</a>
                    </div>

                    <div class="col-10">

                        <ul class="navbar-nav flex-row mr-auto">
                            <li class="nav-item"><a href="#" class="nav-link mr-4">Сайт мақсади</a></li>
                            <li class="nav-item"><a href="#" class="nav-link mr-4">Бизда ишлаш</a></li>
                            <li class="nav-item"><a href="#" class="nav-link mr-4">Жамоа</a></li>

                            <li class="nav-item"><a href="#" class="nav-link mr-4">Лицензия</a></li>
                            <li class="nav-item"><a href="#" class="nav-link mr-4">Ҳамкорлик</a></li>
                            <li class="nav-item"><a href="#" class="nav-link mr-4">Реклама</a></li>
                            <li class="nav-item"><a href="#" class="nav-link mr-4">Мурожаат учун</a></li>

                        </ul>

                    </div>
                </div>

                <div class="row">
                    <p>«KARVON.UZ» сайтида эълон қилинган материаллардан нусха кўчириш, тарқатиш ва бошқа шаклларда
                        фойдаланиш фақат таҳририят ёзма розилиги билан амалга оширилиши мумкин.
                        Гувоҳнома: №0987. Берилган санаси: 22.06.2015 йил. Муассис: «WEB EXPERT» МЧЖ. Таҳририят манзили:
                        100043, Тошкент шаҳри, К. Ёрматов кўчаси, 12-уй. Электрон манзил: info@kun.uz.
                        Сайтда эълон қилинаётган муаллифлик мақолаларида келтирилган фикрлар муаллифга тегишли ва улар
                        Kun.uz таҳририяти нуқтаи назарини ифода этмаслиги мумкин.</p>
                </div>

            </div>
    </section>




</body>

</html>