<div class="container mahalli">
 <div class="banner">
  <img src="/images/banner.jpg" alt="">
 </div>
 <div class="page_header_reclamainfo">

  <div class="reclama-main">
   <div class="weather-week">
    <p class="reclama-week">Чоршанба</p>

    <div class="reclamainfo_ob-havo">
     <img src="./images/Cloud & Sun.png" alt="Weather">
     <div class="weather">
      <strong>27°C</strong>
      <strong>29° 13°</strong>
     </div>
    </div>

    <p>Тошкент, Ўзбекистон</p>
   </div>

   <div class="reclamainfo">
    <i class="fa fa-caret-up"><strong> USD <br class="br"> 10274.17</strong></i>
    <i class="fa fa-caret-down"><strong> EUR <br class="br"> 12162.56</strong></i>
    <i class="fa fa-caret-down"><strong> RUB <br class="br"> 136.28</strong></i>
    <i class="fa fa-caret-up"><strong> CNY <br class="br"> 6.7695</strong></i>
    <i class="fa fa-caret-down"><strong> TRY <br class="br"> 7 .5598</strong></i>

   </div>

   <div class="date">
    <p>Чоршанба</p>
    <h3 class="date-today">11.09.2016</h3>
   </div>

  </div>

  <div class="reclama-line"></div>
 </div>
 <!--------Mahhalliy yangiliklar--------------->
 <div class="local-news">
  <h1>Махаллий янгиликлар</h1>
  <div class="local-inner">

   <div class="local-left">

    <div class="local-left-img">
     <img src="./images/ekskavator.jpg" alt="">
    </div>

    <p class="calendar-eye">
     <span class="calendar">
      <img src="./icons/Calindar.png" alt="calendar">
      <span class="calendar-date">14.09.2020</span>
     </span>
     <span class="eye">
      <img src="./icons/Eye.png" alt="eye">
      <span class="eye-sum">268 473</span>
     </span>
    </p>

    <p class="local-text">
     Формула-1” пойгаларида иштирок этувчи Renault жамоаси кейинги
     мавсумдан номини ўзгартириб,Alpine номланади. Бу ҳақда
     Renault Group сайтида маълум қилинган.
    </p>

   </div>

   <div class="local-right">
    <div class="local-right-img">
     <img src="./images/ekskavator.jpg" alt="">
    </div>
    <p class="calendar-eye">
     <span class="calendar">
      <img src="./icons/Calindar.png" alt="calendar">
      <span class="calendar-date">14.09.2020</span>
     </span>
     <span class="eye">
      <img src="./icons/Eye.png" alt="eye">
      <span class="eye-sum">268 473</span>
     </span>
    </p>
    <p class="local-text">
     Аун Сан Сун Чжи. У қандай қилиб эркинлик куйчисига айланган,
     аммо кейин Ғарбга хуш келмайқолганди?
    </p>
   </div>
  </div>
  <div class="reclama-line"></div>
 </div>
 <!----------presedent-haqida malumot-------->
 <section class="news-mains">

  <div class="top-news">

   <div class="card">
    <div class="left-news-img">
     <img src="./images/money.jpg" alt="">
    </div>

    <p class="calendar-eye">
     <span class="calendar">
      <img src="./icons/Calindar.png" alt="calendar">
      <span class="calendar-date">14.09.2020</span>
     </span>
     <span class="eye">
      <img src="./icons/Eye.png" alt="eye">
      <span class="eye-sum">268 473</span>
     </span>
    </p>
    <p class="news-main-text">
     Парк де Пренс» рингга айланди: 12 сариқ, 5 қизил, муштлашувлар ва Неймарнинг айблови
    </p>
   </div>

   <div class="card">
    <div class="left-news-img">
     <img src="./images/money.jpg" alt="">
    </div>

    <p class="calendar-eye">
     <span class="calendar">
      <img src="./icons/Calindar.png" alt="calendar">
      <span class="calendar-date">14.09.2020</span>
     </span>
     <span class="eye">
      <img src="./icons/Eye.png" alt="eye">
      <span class="eye-sum">268 473</span>
     </span>
    </p>
    <p class="news-main-text">
     Парк де Пренс» рингга айланди: 12 сариқ, 5 қизил, муштлашувлар ва Неймарнинг айблови
    </p>
   </div>

   <div class="card">
    <div class="left-news-img">
     <img src="./images/money.jpg" alt="">
    </div>

    <p class="calendar-eye">
     <span class="calendar">
      <img src="./icons/Calindar.png" alt="calendar">
      <span class="calendar-date">14.09.2020</span>
     </span>
     <span class="eye">
      <img src="./icons/Eye.png" alt="eye">
      <span class="eye-sum">268 473</span>
     </span>
    </p>
    <p class="news-main-text">
     Парк де Пренс» рингга айланди: 12 сариқ, 5 қизил, муштлашувлар ва Неймарнинг айблови
    </p>
   </div>

   <div class="card">
    <div class="left-news-img">
     <img src="./images/money.jpg" alt="">
    </div>

    <p class="calendar-eye">
     <span class="calendar">
      <img src="./icons/Calindar.png" alt="calendar">
      <span class="calendar-date">14.09.2020</span>
     </span>
     <span class="eye">
      <img src="./icons/Eye.png" alt="eye">
      <span class="eye-sum">268 473</span>
     </span>
    </p>
    <p class="news-main-text">
     Парк де Пренс» рингга айланди: 12 сариқ, 5 қизил, муштлашувлар ва Неймарнинг айблови
    </p>
   </div>

   <div class="card">
    <div class="left-news-img">
     <img src="./images/money.jpg" alt="">
    </div>

    <p class="calendar-eye">
     <span class="calendar">
      <img src="./icons/Calindar.png" alt="calendar">
      <span class="calendar-date">14.09.2020</span>
     </span>
     <span class="eye">
      <img src="./icons/Eye.png" alt="eye">
      <span class="eye-sum">268 473</span>
     </span>
    </p>
    <p class="news-main-text">
     Парк де Пренс» рингга айланди: 12 сариқ, 5 қизил, муштлашувлар ва Неймарнинг айблови
    </p>
   </div>

   <div class="card">
    <div class="left-news-img">
     <img src="./images/money.jpg" alt="">
    </div>

    <p class="calendar-eye">
     <span class="calendar">
      <img src="./icons/Calindar.png" alt="calendar">
      <span class="calendar-date">14.09.2020</span>
     </span>
     <span class="eye">
      <img src="./icons/Eye.png" alt="eye">
      <span class="eye-sum">268 473</span>
     </span>
    </p>
    <p class="news-main-text">
     Парк де Пренс» рингга айланди: 12 сариқ, 5 қизил, муштлашувлар ва Неймарнинг айблови
    </p>
   </div>

   <div class="card">
    <div class="left-news-img">
     <img src="./images/money.jpg" alt="">
    </div>

    <p class="calendar-eye">
     <span class="calendar">
      <img src="./icons/Calindar.png" alt="calendar">
      <span class="calendar-date">14.09.2020</span>
     </span>
     <span class="eye">
      <img src="./icons/Eye.png" alt="eye">
      <span class="eye-sum">268 473</span>
     </span>
    </p>
    <p class="news-main-text">
     Парк де Пренс» рингга айланди: 12 сариқ, 5 қизил, муштлашувлар ва Неймарнинг айблови
    </p>
   </div>

   <div class="card">
    <div class="left-news-img">
     <img src="./images/money.jpg" alt="">
    </div>

    <p class="calendar-eye">
     <span class="calendar">
      <img src="./icons/Calindar.png" alt="calendar">
      <span class="calendar-date">14.09.2020</span>
     </span>
     <span class="eye">
      <img src="./icons/Eye.png" alt="eye">
      <span class="eye-sum">268 473</span>
     </span>
    </p>
    <p class="news-main-text">
     Парк де Пренс» рингга айланди: 12 сариқ, 5 қизил, муштлашувлар ва Неймарнинг айблови
    </p>
   </div>

   <div class="card">
    <div class="left-news-img">
     <img src="./images/money.jpg" alt="">
    </div>

    <p class="calendar-eye">
     <span class="calendar">
      <img src="./icons/Calindar.png" alt="calendar">
      <span class="calendar-date">14.09.2020</span>
     </span>
     <span class="eye">
      <img src="./icons/Eye.png" alt="eye">
      <span class="eye-sum">268 473</span>
     </span>
    </p>
    <p class="news-main-text">
     Парк де Пренс» рингга айланди: 12 сариқ, 5 қизил, муштлашувлар ва Неймарнинг айблови
    </p>
   </div>

  </div>


 </section>
 <!-------------Bolnol relaks gel reklama------->
 <section class="reclama-banner">
  <img src="images/7b189f2d646fe70f9d1b654a50ecd7ae%201bolnol_reklama.png" alt="">
 </section>
 <section class="type-news">
  <h1>Мавзуга оид бошка янгиликлар</h1>

  <div class="cards-news">
   <div class="card-inner">

    <div class="card-img">
     <img src="./images/askar.png" alt="">
    </div>

    <div class="card-text">
     <p class="calendar-eye-card">
      <span class="calendar">
       <img src="./icons/Calindar.png" alt="calendar">
       <span class="calendar-date">14.09.2020</span>
      </span>
      <span class="eye">
       <img src="./icons/Eye.png" alt="eye">
       <span class="eye-sum">268 473</span>
      </span>
     </p>
     <p class="news-type-text">
      Парк де Пренс» рингга айланди: 12 сариқ, 5 қизил, муштлашувлар ва Неймарнинг айблови
     </p>
    </div>
   </div>

   <div class="card-inner">

    <div class="card-img">
     <img src="./images/askar.png" alt="">
    </div>

    <div class="card-text">

     <p class="calendar-eye-card">
      <span class="calendar">
       <img src="./icons/Calindar.png" alt="calendar">
       <span class="calendar-date">14.09.2020</span>
      </span>
      <span class="eye">
       <img src="./icons/Eye.png" alt="eye">
       <span class="eye-sum">268 473</span>
      </span>
     </p>
     <p class="news-type-text">
      Парк де Пренс» рингга айланди: 12 сариқ, 5 қизил, муштлашувлар ва Неймарнинг айблови
     </p>
    </div>
   </div>

   <div class="card-inner">

    <div class="card-img">
     <img src="./images/askar.png" alt="">
    </div>

    <div class="card-text">
     <p class="calendar-eye-card">
      <span class="calendar">
       <img src="./icons/Calindar.png" alt="calendar">
       <span class="calendar-date">14.09.2020</span>
      </span>
      <span class="eye">
       <img src="./icons/Eye.png" alt="eye">
       <span class="eye-sum">268 473</span>
      </span>
     </p>
     <p class="news-type-text">
      Парк де Пренс» рингга айланди: 12 сариқ, 5 қизил, муштлашувлар ва Неймарнинг айблови
     </p>
    </div>
   </div>

   <div class="card-inner">

    <div class="card-img">
     <img src="./images/askar.png" alt="">
    </div>

    <div class="card-text">

     <p class="calendar-eye-card">
      <span class="calendar">
       <img src="./icons/Calindar.png" alt="calendar">
       <span class="calendar-date">14.09.2020</span>
      </span>
      <span class="eye">
       <img src="./icons/Eye.png" alt="eye">
       <span class="eye-sum">268 473</span>
      </span>
     </p>
     <p class="news-type-text">
      Парк де Пренс» рингга айланди: 12 сариқ, 5 қизил, муштлашувлар ва Неймарнинг айблови
     </p>
    </div>
   </div>

   <div class="card-inner">

    <div class="card-img">
     <img src="./images/askar.png" alt="">
    </div>

    <div class="card-text">
     <p class="calendar-eye-card">
      <span class="calendar">
       <img src="./icons/Calindar.png" alt="calendar">
       <span class="calendar-date">14.09.2020</span>
      </span>
      <span class="eye">
       <img src="./icons/Eye.png" alt="eye">
       <span class="eye-sum">268 473</span>
      </span>
     </p>
     <p class="news-type-text">
      Парк де Пренс» рингга айланди: 12 сариқ, 5 қизил, муштлашувлар ва Неймарнинг айблови
     </p>
    </div>
   </div>

   <div class="card-inner">

    <div class="card-img">
     <img src="./images/askar.png" alt="">
    </div>

    <div class="card-text">

     <p class="calendar-eye-card">
      <span class="calendar">
       <img src="./icons/Calindar.png" alt="calendar">
       <span class="calendar-date">14.09.2020</span>
      </span>
      <span class="eye">
       <img src="./icons/Eye.png" alt="eye">
       <span class="eye-sum">268 473</span>
      </span>
     </p>
     <p class="news-type-text">
      Парк де Пренс» рингга айланди: 12 сариқ, 5 қизил, муштлашувлар ва Неймарнинг айблови
     </p>
    </div>
   </div>

   <div class="card-inner">

    <div class="card-img">
     <img src="./images/askar.png" alt="">
    </div>

    <div class="card-text">
     <p class="calendar-eye-card">
      <span class="calendar">
       <img src="./icons/Calindar.png" alt="calendar">
       <span class="calendar-date">14.09.2020</span>
      </span>
      <span class="eye">
       <img src="./icons/Eye.png" alt="eye">
       <span class="eye-sum">268 473</span>
      </span>
     </p>
     <p class="news-type-text">
      Парк де Пренс» рингга айланди: 12 сариқ, 5 қизил, муштлашувлар ва Неймарнинг айблови
     </p>
    </div>
   </div>

   <div class="card-inner">

    <div class="card-img">
     <img src="./images/askar.png" alt="">
    </div>

    <div class="card-text">

     <p class="calendar-eye-card">
      <span class="calendar">
       <img src="./icons/Calindar.png" alt="calendar">
       <span class="calendar-date">14.09.2020</span>
      </span>
      <span class="eye">
       <img src="./icons/Eye.png" alt="eye">
       <span class="eye-sum">268 473</span>
      </span>
     </p>
     <p class="news-type-text">
      Парк де Пренс» рингга айланди: 12 сариқ, 5 қизил, муштлашувлар ва Неймарнинг айблови
     </p>
    </div>
   </div>

  </div>



 </section>
 <!-- -------------oxirgi qismi---------------------->
</div>